.ant-row {
    margin: 0

}
.ant-form-horizontal .ant-row {
    margin-left: 0;
    margin-right: -15px;
}
.ant-form-item {
    box-sizing: border-box;
    margin: 0 0 24px;

}
/* .ant-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
} */

.ant-table-thead>tr>th {
    padding: 6px 16px;
    background: #003366;
    color: #fff
}
.ant-form-item-has-feedback .ant-input-affix-wrapper .ant-input-suffix {
    padding-right: 0px;
}
.ant-input-suffix .ant-form-item-feedback-icon-success {
    color: #52C41A !important;
}
.ant-table-tbody>tr>td {
    padding: 10px 16px;
}
.ant-form-item-explain-error {
    color: #f5222d;
}
